/vendor/
/node_modules/
package-lock.json
package.json
mail_config.php

config.php
utils/cloudinary_config.php
utils/db_with_log.php

storage/uploads/
storage/uploads/*
!storage/uploads/.gitkeep

*.log
logs/
.DS_Store
Thumbs.db
